name: Clippy

on:
  - workflow_call
  - workflow_dispatch

env:
  RUSTFLAGS: --deny warnings

jobs:
  clippy:
    name: Clippy
    runs-on: windows-latest

    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Clippy
        run: cargo clippy --all-features --all-targets
