name: Test

on:
  - workflow_call
  - workflow_dispatch

env:
  RUSTFLAGS: --deny warnings
  WNF_SYSTEM_TESTS_ENABLED: 1

jobs:
  test:
    name: Test (${{ matrix.toolchain }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025]
        toolchain: [stable, nightly]

    steps:
      - name: Install ${{ matrix.toolchain }} toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Checkout
        uses: actions/checkout@v6

      - name: Run tests
        run: cargo test --all-features
