name: Unused dependencies

on:
  - workflow_call
  - workflow_dispatch

env:
  RUSTFLAGS: --deny warnings
  # renovate: datasource=crate versioning=semver-coerced depName=cargo-udeps
  VERSION_CARGO_UDEPS: 0.1.60

jobs:
  udeps:
    name: Unused dependencies
    runs-on: windows-latest

    steps:
      - name: Cache cargo-udeps
        id: cache-cargo-udeps
        uses: actions/cache@v4
        with:
          path: ~/.cargo/
          key: cargo-udeps-${{ env.VERSION_CARGO_UDEPS }}

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-udeps
        if: ${{ !steps.cache-cargo-udeps.outputs.cache-hit }}
        run: cargo install cargo-udeps@${{ env.VERSION_CARGO_UDEPS }}

      - name: Checkout
        uses: actions/checkout@v6

      - name: Check for unused dependencies
        # cargo-udeps uses unstable flags, so we are supposed to use a nightly toolchain.
        # However, it internally uses cargo-the-library from crates.io, which aligns with the stable toolchain.
        # This means that it effectively uses stable cargo, but nightly rustc, which can cause incompatibilities.
        # Example: The `test` cfg was turned into a userspace check-cfg in nightly rustc, while stable cargo still assumed it was a well-known cfg.
        # To mitigate this issue, we set RUSTC_BOOTSTRAP=1 to be able to use unstable flags with stable rustc.
        env:
          RUSTC_BOOTSTRAP: 1
        run: cargo udeps
